{% extends "base.html" %}

{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                {% if question.modified_date %}
                <div class="badge badge-light p-2 text-left mx-3">
                    <div class="mb-2">Modified at</div>
                    <div>{{ question.modified_date|datetime }}</div>
                </div>
                {% endif %}
                <div class="badge badge-light p-2 text-left">
                    <div class="mb-2">{{ question.user.username }}</div>
                    <div>{{ question.created_date|datetime }}</div>
                </div>
            </div>
            {% if g.user == question.user %}
            <div class="my-3">
                <a class="btn btn-sm btn-outline-secondary"
                    href="{{ url_for('question.modify', question_id=question.id) }}">Modify</a>
                <a class="delete btn btn-sm btn-outline-secondary" href="#"
                    data-uri="{{ url_for('question.delete', question_id=question.id) }}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>

    <h5 class="border-bottom my-3 py-2">There are {{ question.answer_set|length }} answers.</h5>
    {% for answer in question.answer_set %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                {% if answer.modified_date %}
                <div class="badge badge-light p-2 text-left mx-3">
                    <div class="mb-2">Modified at</div>
                    <div>{{ answer.modified_date|datetime }}</div>
                </div>
                {% endif %}
                <div class="badge badge-light p-2 text-left">
                    <div class="mb-2">{{ answer.user.username }}</div>
                    <div>{{ answer.created_date|datetime }}</div>
                </div>
            </div>
            {% if g.user == answer.user %}
            <div class="my-3">
                <a class="btn btn-sm btn-outline-secondary"
                    href="{{ url_for('answer.modify', answer_id=answer.id) }}">Modify</a>
                <a class="delete btn btn-sm btn-outline-secondary" href="#"
                    data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <form class="my-3" action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
        {{ form.csrf_token }}
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <div class="form-group">
            {% if not g.user %}
            <textarea class="form-control" name="content" id="content" rows="10"
                disabled>If you want to answer this question, SignIn first.</textarea>
            {% else %}
            <textarea class="form-control" name="content" id="content" rows="10"></textarea>
            {% endif %}
        </div>
        <input class="btn btn-primary" type="submit" value="Send" />
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('.delete').on('click', function () {
            if (confirm('Are you sure?')) {
                location.href = $(this).data('uri')
            }
        })
    })
</script>
{% endblock %}