{% extends "base.html" %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">Post Question</h5>
    <form class="post-form my-3" method="post">
        {{ form.csrf_token }}

        {% include 'form_messages.html' %}

        <div class="form-group">
            <label for="subject">Subject</label>
            <input class="form-control" id="subject" type="text" name="subject" value="{{ form.subject.data or '' }}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content"
                rows="10">{{ form.content.data or '' }}</textarea>
            {{ simplemde.load }}
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>
{% endblock %}