{% for field, errors in form.errors.items() %}
<div class="alert alert-danger" role='alert'>
    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
</div>
{% endfor %}

{% for category, message in get_flashed_messages(with_categories=true) %}
{% if category == 'info' %}
<div class="alert alert-success">
    {{ message }}
    <button class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">X</span>
    </button>
</div>
{% else %}
<div class="alert alert-danger" role='alert'>
    {{ message }}
</div>
{% endif %}
{% endfor %}