{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <h5 class="border-bottom pb-2 mb-3">Forgot Password?</h5>

    <form class="post-form py-3" method="post">
        {{ form.csrf_token }}

        {% include 'form_messages.html' %}

        <div class="form-group">
            <label for="email">Enter registered email to find your password</label>
            <input class="form-control" type="email" name="email" id="email" />
        </div>
        <div class="my-3">
            <a href="{{ url_for('account.signin') }}">Return to SignIn</a>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Find</button>
    </form>
</div>
{% endblock %}