{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <form class="post-form" method='post'>
        {{ form.csrf_token }}

        {% include 'form_messages.html' %}

        <div class="form-group">
            <label for="content">Content of Answer</label>
            <textarea class="form-control" name="content" id="content"
                rows="10">{{ form.content.data or '' }}</textarea>
            {{ simplemde.load }}
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>
{% endblock %}